body {
    margin: 0;
    padding: 0;
    background: #FF7F50;
}

#map {
    position: relative;
	float: right;
    width: 85%;
	height: 100%;
}

#menu {
	position: relative;
	float: left;
	width: 15%;
	background: #009900;
	height: 100%;
}

.checkBoxesMenu-ui 
{  
  padding:2px;
  border-radius:3px;
  margin-bottom: 1px;
  font-size: 60%;
  }
#distanceBox {
  border: 1px solid;
  border-radius: 15px;
  width: 90%;
}
#countBox {
  border: 1px solid;
  border-radius: 15px;
  width: 90%;
}

#checkBoxesMenu 
{
  background: inherit;
  padding-left: 10%
}
button {
  padding: 1%; 
  width: 90%;  
}

p{
  padding-left: 10%
}

.img {
	height: 100px;
	width: 180px;
	z-index:50;
	position:fixed;
	right:10px;
	top:10px;
}